<!-- <p>
  quote-detail works!
</p> -->
<div>
  <h6><b> Quote:{{quote.quote}}</b></h6>
  <h6> Author:{{quote.author}}</h6>
  <h6> Name:{{quote.name}}</h6>
  <p>{{quote.upvote}}</p>
 <button (click)='upvote()' style="color: white; font-size: 18px; background-color: rgb(99, 99, 94);  font-size: 18px; font-family: 'Times New Roman', Times, serif; ">Upvote</button>
 <p>{{quote.downvote}}</p> 
 <button (click)='downvote()' style="color: white; font-size: 18px; background-color: rgb(187, 183, 183);  font-size: 18px; font-family: 'Times New Roman', Times, serif;" >Downvote</button>  
  <button (click)='quoteComplete(true)' >delete</button>
</div>
